pandas
numpy==1.26.4
openai
jupyter
ipykernel
FlagEmbedding
langchain
langchain-community
unstructured
Markdown
tqdm
faiss-cpu
# faiss-gpu-cu12[fix-cuda]
ollama
fastapi
uvicorn
marko

tavily-python
json2html